__MACOSX
.DS_Store

.venv
dist
build

whisper_server.exe

VoiceAttackPlugin/WhisperAttack/.vs
VoiceAttackPlugin/WhisperAttack/bin
VoiceAttackPlugin/WhisperAttack/obj
VoiceAttackPlugin/WhisperAttack/WhisperAttack.csproj.user
